{% extends "base.html"%}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Search Notes</title>
</head>
<body>
    <h1>Search Notes</h1>
    <form method="post" action="{{ url_for('search_notes') }}">
        <label for="search_term">Search Term:</label>
        <input type="text" id="search_term" name="search_term" required>
        <button type="submit">Search</button>
    </form>
	<a href="{{ url_for('dashboard') }}"><button type="button">Back to Dashboard</button></a>
</body>
</html>
{% endblock %}