{% extends "base.html" %}

{% block content %}
    <body>
        <h1>ToDo List</h1>
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning" role="alert">
                {{ message }}
            </div> 
        {% endfor %}

        <form action="/add" method="post">
            <label>Enter a task</label>
            <input type="text" name="name" placeholder="Write a task...">
            <button class="btn btn-secondary btn-smtype="submit">Add</button>
        </form>

        {% for todo in todo_list %}
        <p>
            <td>{{todo.task_id }}</td>
            <td>{{ todo.name }}</td>

            {% if todo.complete == False %}
                <td>Incomplete</td>
            {% else %}
            <td>Complete</td>
            {% endif %}
            <td><a href="/update/{{ todo.task_id }}" class="btn btn-outline-primary btn-sm" role="button">Update</a></td>
            <td><a href="/delete/{{ todo.task_id }}" class="btn btn-outline-danger btn-sm" role="button">Delete</a></td>
        </p>
        {% endfor %}

        <form action="/delete_all" method="post">
            <button class="btn btn-outline-danger" type="submit">Reset</button>
        </form>

      
    </body>
    {% endblock %}